extends layout.pug

block content
  nav.page-nav.page-body__page-nav--before.page-body__page-nav--after
    ul.page-menu
      each val in ["Премиум", "О Компании", "Отзывы", "Контакты"]
        li: a(class="page-menu__link")= val
    .page-nav__contact-number
      input(
        class="page-nav__tel"
        type="tel"
        name="contact-nubmer"
        id="page-nav__contact-nubmer"
        placeholder="8(800)300-48-06"
      )
      button(
        type="button"
        class="page-nav__menu-button menu-button"
        aria-label="меню"
      ) Меню
    .page-nav__page-logo.page-logo
      img(
        class="page-nav__logo-image"
        src="img/icons/page-logo.png"
        width="181"
        height="61"
      )
    header.banner
      .banner__promo
        p.banner__text.banner__text--heading
          span.banner__quote.banner__quote--heading.banner__quote--colored Эксклюзивные кухни и мебель&puncsp;
          | в Липецке на заказ от производителя
        p.banner__text Гарантируем&puncsp;
          span.banner__quote.banner__quote--heading.banner__quote--colored самую низкую цену&puncsp;
          | на кухни и мебель по составленной нами смете
      .banner__features.features
        - var listLength = 3;
        ul.features__list.features__inner
          while n <= listLength
          li.features__item.features__item--before.features__item--before1
            p.features__text.features__text--colored Бесплатный подбор материалов
            p.features__text из >700 вариантов под ваш бюджет
          li.features__item.features__item--before.features__item--before2
            p.features__text.features__text--colored Подробная смета без наценок
            p.features__text более чем по 20 пунктам
          li.features__item.features__item--before.features__item--before3
            p.features__text.features__text--colored Гарантия качества - 5 лет
            p.features__text включая мелкое обслуживание мебели
    .offer
      a(
        href="#calculator"
        class="offer__button offer__button--theme"
      ) Заказать расчёт стоимости
        svg(
          class="offer__icon"
          width="14"
          height="18"
          viewBox="0 0 14 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        )
          <path d="M13.6654 6.44984C13.6567 6.37328 13.6399 6.29786 13.6154 6.22484V6.14984C13.5753 6.06415 13.5219 5.98539 13.457 5.9165V5.9165L8.45703 0.916504C8.38814 0.851684 8.30938 0.798238 8.2237 0.75817C8.19882 0.754637 8.17357 0.754637 8.1487 0.75817C8.06404 0.709622 7.97055 0.678457 7.8737 0.666504H2.83203C2.16899 0.666504 1.53311 0.929896 1.06426 1.39874C0.595423 1.86758 0.332031 2.50346 0.332031 3.1665V14.8332C0.332031 15.4962 0.595423 16.1321 1.06426 16.6009C1.53311 17.0698 2.16899 17.3332 2.83203 17.3332H11.1654C11.8284 17.3332 12.4643 17.0698 12.9331 16.6009C13.402 16.1321 13.6654 15.4962 13.6654 14.8332V6.49984C13.6654 6.49984 13.6654 6.49984 13.6654 6.44984ZM8.66536 3.50817L10.8237 5.6665H9.4987C9.27768 5.6665 9.06572 5.57871 8.90944 5.42243C8.75316 5.26615 8.66536 5.05418 8.66536 4.83317V3.50817ZM11.9987 14.8332C11.9987 15.0542 11.9109 15.2661 11.7546 15.4224C11.5983 15.5787 11.3864 15.6665 11.1654 15.6665H2.83203C2.61102 15.6665 2.39906 15.5787 2.24278 15.4224C2.0865 15.2661 1.9987 15.0542 1.9987 14.8332V3.1665C1.9987 2.94549 2.0865 2.73353 2.24278 2.57725C2.39906 2.42097 2.61102 2.33317 2.83203 2.33317H6.9987V4.83317C6.9987 5.49621 7.26209 6.1321 7.73093 6.60094C8.19977 7.06978 8.83566 7.33317 9.4987 7.33317H11.9987V14.8332ZM8.90703 9.2415L6.16536 11.9915L5.09036 10.9082C4.93344 10.7513 4.72062 10.6631 4.4987 10.6631C4.27678 10.6631 4.06395 10.7513 3.90703 10.9082C3.75011 11.0651 3.66195 11.2779 3.66195 11.4998C3.66195 11.7218 3.75011 11.9346 3.90703 12.0915L5.5737 13.7582C5.65117 13.8363 5.74333 13.8983 5.84488 13.9406C5.94643 13.9829 6.05535 14.0047 6.16536 14.0047C6.27537 14.0047 6.3843 13.9829 6.48585 13.9406C6.58739 13.8983 6.67956 13.8363 6.75703 13.7582L10.0904 10.4248C10.2473 10.2679 10.3354 10.0551 10.3354 9.83317C10.3354 9.61125 10.2473 9.39842 10.0904 9.2415C9.93344 9.08458 9.72062 8.99643 9.4987 8.99643C9.27678 8.99643 9.06395 9.08458 8.90703 9.2415V9.2415Z" fill="white"/>
      p.offer__text и получите&puncsp;
        a(
          href="#offer-agreement"
          class="offer__link offer__link--theme"
        ) пример дизайн-проекта и сметы&puncsp;
        | от нашей компании
